		<div class="row">
			<div class="large-12 columns">
				<h1 id="top-bar">Frogメンバー名簿</h1>
				<hr>
			</div>
		</div>
		<div class="row person">
			<div class="large-5 columns">
				<h3 class="subheader"><%= @person.name %>の情報を編集中</h3>
				<%= form_for(@person) do |p| %>
					<div class="field">
					<%= p.text_field :name %>
					<%= p.text_area :detail %>
					<%= p.collection_select :school_id, School.all, :id, :name %>
					<%= p.date_field :arrivalDate %>
					</div>
					<div class="actions">
					<%= p.submit "保存", {:class => 'button'} %>
					</div>
				<% end %>
			</div>
		</div>
