		<div class="row">
			<div class="large-12 columns">
				<h1 id="top-bar"><%= @person.name %>の詳細</h1>
				<hr>
			</div>
		</div>
		<div class="row person">
			<div class="large-5 columns">
				<p><%= @person.detail %></p>
			</div>
			<div class="large-7 columns">
				<table>
					<thead>
						<tr>
							<th>到着日</th>
							<th>現在通っている学校</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @person.arrivalDate %></td>
							<td><%= link_to @school.name, school_path(@school) %></td>
						</tr>
					</tbody>
				</table>
				<%= link_to "編集", edit_person_path(@person), { :class => "button" } %>
				<span><%= link_to '削除', person_path(@person), :confirm => 'Are you sure?', :method => :delete, :class => 'button' %>
				<%= link_to "一覧へ", {:controller => "people"}, {:class => "button" } %>
			</div>
		</div>
