		<div class="row">
			<div class="large-12 columns">
				<h1 id="top-bar">学校追加</h1>
				<hr>
			</div>
		</div>
		<div class="row person">
			<div class="large-5 columns">
				<%= form_for(@schools) do |s| %>
					<div class="field">
					<%= s.text_field :name %>
					<%= s.text_area :detail %>
					<%= s.select :scale, ["大", "中", "小"] %>
					</div>
					<div class="actions">
					<%= s.submit "新規作成", {:class => 'button'} %>
					</div>
				<% end %>
			</div>
		</div>
