		<div class="row">
			<div class="large-12 columns">
				<h1 id="top-bar">Frogメンバー名簿</h1>
				<hr>
			</div>
		</div>
		<div class="row person">
			<div class="large-5 columns">
				<h3 class="subheader"><%= @school.name %></h3>
				<p><%= @school.detail %></p>
			</div>
			<div class="large-7 columns">
				<table>
					<thead>
						<tr>
							<th>規模</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @school.scale %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row person">
			<div class="large-12 columns">
				<h2 class="subheader">登校中の学生一覧</h2>
				<table>
					<thead>
						<tr>
							<th width="20%">名前</th>
							<th width="60%">コメント</th>
							<th>到着日</th>
						</tr>
					</thead>
		<% @persons.each do |p| %>
					<tr>
						<td><%= link_to p.name, person_path(p) %></td>
						<td><%= p.detail %></td>
						<td><%= p.arrivalDate %></td>
					</tr>
		<% end %>
				</table>
			</div>
		</div>
